<input type="text" placeholder="numConto" [disabled]="numContoEditable" [(ngModel)]="numConto">
<button (click)="nuovo()"> new </button>
<button (click)="aggiungi()"> aggiungi </button>
<br>
<table>
    <tr>
        <th>numConto</th>
    </tr>
    <tr *ngFor="let c  of listaConti">
        <td>{{c.numConto}}</td>
        <td>
            <button (click)="modifica()"> modifica </button>
        </td>
        <td>
            <button (click)="elimina()"> elimina </button>
        </td>
    </tr>
</table>
