<body>
    <div id="pagina">
        <h1>Gestione Cliente</h1>
        <hr>
        <div class="center">
            <div>
                <input type="text" placeholder="Nome" [(ngModel)]="cliente.nome" [disabled]="!inputEnabled">
                <input type="text" placeholder="Cognome" [(ngModel)]="cliente.cognome" [disabled]="!inputEnabled">
                <!--<input type="text" placeholder="DataNascita: yyyy-MM-dd" [(ngModel)] = "cliente.dataNascita" [disabled] = "!inputEnabled">-->
                <button class="mleft" (click)="nuovo()">Nuovo</button>
            </div>
            <div>
                <input type="text" placeholder="Codice fiscale" [(ngModel)]="cliente.codiceFiscale"
                    [disabled]="!inputEnabled">
                <input type="text" placeholder="Indirizzo" [(ngModel)]="cliente.indirizzo" [disabled]="!inputEnabled">
                <input type="text" placeholder="Telefono" [(ngModel)]="cliente.telefono" [disabled]="!inputEnabled">
                <button class="mleft" (click)="aggiungi()" [disabled]="!inputEnabled">Aggiungi</button>
            </div>
            <button (click)="conferma()" *ngIf="buttonVisible">Conferma</button>
            <button class="mleft" (click)="annulla()" *ngIf="buttonVisible">Annulla</button>
        </div>
        <hr>
        <div class="contiene">
            <button  (click)="goToFirst()"><<</button>
            <button  (click)="goToPrevious()"><</button>
            <input class="numtype" type="number" Min="1" placeholder="1" [(ngModel)]="numPaginaV" (blur)="aggiornaPaginati($event)"/>
            <button  (click)="goToNext()">></button>
            <button  (click)="goToLast()">>></button>
            <div class="btn">
                <label>Clienti per Pagina </label>
                <select name="pag"  [(ngModel)]="elemPag" (change)="aggiornaPaginati($event)">
                    <option elemPag = 10>10</option>
                    <option elemPag = 25>25</option>
                    <option elemPag = 50>50</option>
                </select>
            </div>
        </div>
        <br>
        <div class="tabella">
            <table>
                <tr>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <!--<th>Data Di Nascita</th>-->
                    <th>Codice Fiscale</th>
                    <th>Indirizzo</th>
                    <th>Telefono</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr *ngFor="let c of clienti">
                    <td>{{c.nome}}</td>
                    <td>{{c.cognome}}</td>
                    <!--<td>{{c.dataNascita}}</td>-->
                    <td>{{c.codiceFiscale}}</td>
                    <td>{{c.indirizzo}}</td>
                    <td>{{c.telefono}}</td>
                    <td><button class="tbl" (click)="modifica(c)">Modifica</button></td>
                    <td><button class="tbl" (click)="cancella(c)">Cancella</button></td>
                </tr>
            </table>
        </div>
    </div>
</body>