<h1> Benvenuto in banca Jarvis</h1>
<br>
<p>Gestione clienti</p>
<button (click)="vaiA('gestione-cliente')">Gestione clienti</button>
<br>

<div>
    <p>Gestione conti</p>
    <button (click)="vaiA('gestione-conto-corrente')">Gestione conto corrente</button>
    <button (click)="vaiA('gestione-conto-deposito')">Gestione conto deposito</button>
    <button (click)="vaiA('gestione-conto-prestito')">Gestione conto prestito</button>
</div>
<br>
<div>
    <p>Associa conti</p>
    <button (click)="vaiA('associa-cp')">Associa conto corrente</button>
    <button (click)="vaiA('')">Associa conto deposito</button>
    <button (click)="vaiA('')">Associa conto prestito</button>
</div>
<br>
<div>
    <p>Mostra tutti i conti</p><button (click)="vaiA('mostra-tutti-i-conti')">Mostra tutti i conti</button>
</div>
<br>
<div>
    <p>Movimenta conti</p>
    <button (click)="vaiA('')">Movimenta conto corrente</button>
    <button (click)="vaiA('')">Movimenta conto deposito</button>
    <button (click)="vaiA('')">Movimenta conto prestito</button>
</div>
<br>
<div>
    <p>Saldo conti</p>
    <button (click)="vaiA('')">Saldo conto corrente</button>
    <button (click)="vaiA('')">Saldo conto deposito</button>
    <button (click)="vaiA('')">Saldo conto prestito</button>
</div>
<br>
<div>
    <p>Estratto conti</p>
    <button (click)="vaiA('')">Estratto conto corrente</button>
    <button (click)="vaiA('')">Estratto conto deposito</button>
    <button (click)="vaiA('estratto-conto-cp')">Estratto conto prestito</button>
</div>