<body>
    <!--<div id="pagina">-->
        <h1>Conto Corrente</h1>
        <hr>
        <input type="text" [(ngModel)]="contoCorrente.numConto" placeholder="codice conto">
        <button class="mleft" (click)="cerca()"> Cerca </button>
        <br>
        <br>
        <span>
            conto selezionato:
            <br>
        </span>
        {{codice}}
        <hr>
        <select [(ngModel)]="tipoMov">
            <option value="versamento">Versamento</option>
            <option value="prelievo">Prelievo</option>
            <option value="bonifico">Bonifico</option>
        </select>
        <input type="number" [(ngModel)]="importo" placeholder="importo">
        <button class="mleft" (click)="esegui()"> Esegui </button>
        <br>
        <br>
        <div class="tabella">
            <table>
                <tr *ngFor="let v of listaMovCC">
                    <td>{{v.dataMov}}</td>
                    <td>{{v.tipoMov}}</td>
                    <td>{{v.importoMov}}</td>
                </tr>
            </table>
        </div>
   <!--</div>-->
</body>