Conto prestito
<button (click)="new()">New</button>
<br>
<div>
  <input type="text" placeholder="codice conto prestito" [disabled]="codiceEdit" *ngIf="addVisibileInput" [(ngModel)]="codice">
  <button (click)="add()" *ngIf="addVisibileAdd">Add</button>
  <br>
  {{messaggioErrore}}
</div>
<br>
<br>
<table >
    <tr *ngIf="addVisibileIntestazioneTabella">
        <th>Codice conto</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let c of listaCodici">
        <td>{{c.codice}}</td>
        <td><button (click)="edit(c)">Edit</button></td>
        <td><button (click)="delete(c)">Delete</button></td>
    </tr>
</table>
