<input type="text" placeholder="codiceConto" [(ngModel)]="codice">
<button (click)="cerca()">Cerca</button>
<br>
Conto selezionato: {{risposta}}
<br>
<select [(ngModel)]="tipoMovimento">
    <option [ngValue]="null" disabled>Seleziona operazione</option>
    <option *ngFor="let o of operazioni" [ngValue]="o.name">{{o.name}}</option>
</select>
<input type="number" placeholder="importo" [(ngModel)]="importo">
<button (click)="esegui()">Esegui</button>
<br>
<table>
    <tr>
        <th>Data</th>
        <th>Tipo Movimento</th>
        <th>Importo</th>
    </tr>
    <tr *ngFor="let m of movimenti">
        <th>{{m.dataMov}}</th>
        <th>{{m.tipoMov}}</th>
        <th>{{m.importoMov}}</th>
    </tr>
</table>